{% extends 'master.html' %}
{% block content %}




<div class="row">
    <!-- basic table start -->
    <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Leaderboard of {{leagueid}}</h4>
                <a href="#" onclick="Weekly('{{leagueid}}');">Weekly Report</a>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table text-center" style='font-famiy:"Courier New", Courier, monospace;'>
                            <thead class="text-uppercase">
                                <tr>
                                  {% for col in titles1 %}
                                    <th scope="col">

                                      {% if col == 'GWPoints'%}
                                      GWP
                                      {% elif col == 'H2Hpoints' %}
                                      H2HP
                                      {% else %}

                                        {{col}}

                                      {% endif %}

                                    </th>
                                  {% endfor %}

                                </tr>
                            </thead>
                            <tbody>
                              {% for key , value in tables1.iterrows() %}
                              {% if value['Rank'] == 1 or  value['Rank'] == 2 or  value['Rank'] == 3  %}
                              <tr style="background-color:#2df160;">
                              {% elif value['Rank'] == (tables1|length)-1 or  value['Rank'] == (tables1|length)-2 or  value['Rank'] == (tables1|length)  %}
                              <tr style="background-color:#eb3c07;">
                              {% else %}
                                <tr>
                                  {% endif %}
                                  {% for title in titles1 %}

                                                          <td><b>{{value[title]}}</b></td>



                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- basic table end -->
    <!-- Striped table start -->
    <div class="col-lg-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Form Board of {{leagueid}}</h4>
                <a href="#" onclick="Weekly('{{leagueid}}');">Week Wise Report</a>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table text-center"  style='font-famiy:"Courier New", Courier, monospace; font-size:68%'>
                            <thead class="text-uppercase">
                                <tr>
                                  {% for col in H2Htitles %}
                                    <th scope='col'>


                                        {{col}}


                                    </th>
                                  {% endfor %}

                                </tr>
                            </thead>
                            <tbody>
                              {% for key , value in H2Hweekly.iterrows() %}

                                <tr>

                                  {% for title in H2Htitles %}

                                  {% if value[title]==3 %}
                                                          <td style="background:#2df160;">
                                  {% elif value[title]== 1 %}
                                                          <td style="background:grey">
                                  {% elif value[title]== 0 %}
                                                          <td style="background:#eb3c07">
                                  {% else %}
                                  <td style="font-size:145%">
                                  {% endif %}
                                                            {{value[title]}}</td>



                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
  #chartdiv {
    width: 100%;
    height: 800px;
  }
  </style>

  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <!-- Chart code -->
  <script>
  am5.ready(function() {

  // Create root element
  // https://www.amcharts.com/docs/v5/getting-started/#Root_element
  var root = am5.Root.new("chartdiv");


  // Set themes
  // https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([
    am5themes_Animated.new(root)
  ]);


  // Create chart
  // https://www.amcharts.com/docs/v5/charts/xy-chart/
  var chart = root.container.children.push(am5xy.XYChart.new(root, {
    panX: false,
    panY: false,
    wheelX: "none",
    wheelY: "none",
    layout: root.horizontalLayout
  }));


  // Add legend
  // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
  var legendData = [];
  var legend = chart.children.push(
    am5.Legend.new(root, {
      nameField: "name",
      fillField: "color",
      strokeField: "color",
      //centerY: am5.p50,
      marginLeft: 20,
      y: 20,
      layout: root.verticalLayout,
      clickTarget: "none"
    })
  );

  var data = {{Avglist|safe}};


  // Create axes
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
  var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
    categoryField: "PlayerName",
    renderer: am5xy.AxisRendererY.new(root, {
      minGridDistance: 10
    }),
    tooltip: am5.Tooltip.new(root, {})
  }));

  yAxis.get("renderer").labels.template.setAll({
    fontSize: 12,
    location: 0.5
  })

  yAxis.data.setAll(data);

  var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
    renderer: am5xy.AxisRendererX.new(root, {}),
    tooltip: am5.Tooltip.new(root, {})
  }));


  // Add series
  // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  var series = chart.series.push(am5xy.ColumnSeries.new(root, {
    xAxis: xAxis,
    yAxis: yAxis,
    valueXField: "value",
    categoryYField: "PlayerName",
    tooltip: am5.Tooltip.new(root, {
      pointerOrientation: "horizontal"
    })
  }));

  series.columns.template.setAll({
    tooltipText: "{categoryY}: [bold]{valueX}[/]",
    width: am5.percent(90),
    strokeOpacity: 0
  });

  series.columns.template.adapters.add("fill", function(fill, target) {
    if (target.dataItem) {
      switch(target.dataItem.dataContext.Gametype) {
        case "H2H":
          return chart.get("colors").getIndex(0);
          break;

      }
    }
    return fill;
  })

  series.data.setAll(data);

  function createRange(label, category, color) {
    var rangeDataItem = yAxis.makeDataItem({
      category: category
    });

    var range = yAxis.createAxisRange(rangeDataItem);

    rangeDataItem.get("label").setAll({
      fill: color,
      text: label,
      location: 1,
      fontWeight: "bold",
      dx: -130
    });

    rangeDataItem.get("grid").setAll({
      stroke: color,
      strokeOpacity: 1,
      location: 1
    });

    rangeDataItem.get("tick").setAll({
      stroke: color,
      strokeOpacity: 1,
      location: 1,
      visible: true,
      length: 100
    });

      createRange('H2H','h2h','Blue')

    legendData.push({ name: label, color: color });

  }




  legend.data.setAll(legendData);

  // Add cursor
  // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
  var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
    xAxis: xAxis,
    yAxis: yAxis
  }));


  // Make stuff animate on load
  // https://www.amcharts.com/docs/v5/concepts/animations/
  series.appear();
  chart.appear(1000, 100);

  }); // end am5.ready()
  </script>

  <!-- HTML -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Average Weekly GWP</h4>
                <h9>For better experience rotate phone screen</h9>
                      <div id="chartdiv"></div>

                      </div>
                    </div>
                  </div>






<form id="hdfleaguefrm" action="/WeeklyReport" method="post">
<input type="hidden" name="hdfleagueid" id='hdfleagueid'>
</form>




<!-- Resources -->


<script type="text/javascript">
function Weekly(id){

  $('#hdfleagueid').val(id);
  document.getElementById("hdfleaguefrm").submit();

}

</script>


{% endblock %}
